.heroBanner {
  padding: 4rem 0;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features {
  padding: 4rem 0;
}

.features h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.features p {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 350px;
  margin: 0 auto;
}